.v-offset-1 {
	margin-top: 1em;
}
.v-offset-1-bottom {
	margin-bottom: 1em;
}
.h-spacing-5 {
	margin-left: 5%;
	margin-right: 5%;
}
.avatar-lg {
	height: 40px;
	width: 40px;
	margin-top: -7px;
}
.avatar-title {
	position: relative;
	padding-left: 21px;
}
.avatar-xs {
	position: absolute;
	top: -8px;
	left: -11px;
	height: 30px;
	width: 30px;
}
.flag {
	margin-bottom: 2px;
}
button.list-group-item[disabled]:hover {
	background-color: #fff;
}