@font-face {
	font-family: 'Candal';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/Candal-regular/Candal-regular.eot');
	src: url('/fonts/Candal-regular/Candal-regular.eot?#iefix') format('embedded-opentype'),
	local('Candal'),
	local('Candal-regular'),
	url('/fonts/Candal-regular/Candal-regular.woff2') format('woff2'),
	url('/fonts/Candal-regular/Candal-regular.woff') format('woff'),
	url('/fonts/Candal-regular/Candal-regular.ttf') format('truetype'),
	url('/fonts/Candal-regular/Candal-regular.svg#Candal') format('svg');
}
.header {
	background-color: #0055a5;
	padding: 1em;
}
.header img {
	width: 66px;
}
/* Override Bootstrap defaults */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #FFCC00;
	color: #0055a5;
}
.nav-pills>li>a {
	font-family: 'Candal', sans-serif;
	text-transform: uppercase;
	border-radius: 0 0 4px 4px;
}
.timer-loader {
	background: url('../img/loader.gif') no-repeat center center;
	min-height: 64px;
}
.btn {
	font-family: 'Candal', sans-serif;
}
.btn-primary {
	background-color: #0055a5;
}
.eu-yellow {
	color: #fc0;
}

.v-offset-1 {
	margin-top: 1em;
}
.v-offset-1-bottom {
	margin-bottom: 1em;
}
.h-spacing-5 {
	margin-left: 5%;
	margin-right: 5%;
}
.avatar-lg {
	height: 40px;
	width: 40px;
	margin-top: -7px;
}
.avatar-title {
	position: relative;
	padding-left: 21px;
}
.avatar-xs {
	position: absolute;
	top: -8px;
	left: -11px;
	height: 30px;
	width: 30px;
}
.flag {
	margin-bottom: 2px;
}