<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title with-icon">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						About This Project
					</h3>
				</div>
				<div class="panel-body">
					<p>
						This web app is a <a href="http://eulife.appchallenge.net/" target="_blank">#EULife AppChallenge</a>
						competition entry. It aims to be a creative presentation of the data gathered from surveys conducted in the EU in 2007 and 2011.
					</p>
					<p>
						All of the data presented in the app is served from <a href="http://eulife.appchallenge.net/api-explorer/" target="_blank">European Quality of Life Time Series API</a>.
						We took special care when making conclusions (&quot;facts&quot; in the app) from the survey data.
						That said, you're welcome to inspect the source data from the API Explorer and draw your own conclusions.
						We'll welcome any corrections, just PM us on Twitter.
					</p>
					<p>Made with <span class="glyphicon glyphicon-heart"></span> by <a href="https://twitter.com/Sekiman" target="_blank">Branko Sedlar</a> & <a href="https://twitter.com/NebKam" target="_blank">Nebojša Kamber</a></p>
				</div>
			</div>
		</div>
	</div>
</div>