<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title with-icon">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						Thanks
					</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							Mark James from <a href="http://www.famfamfam.com/" target="_blank">FAMFAMFAM</a> for beautiful flags of <img src="../img/flags/europeanunion.png" class="flag"> countries
						</li>
						<li>
							<a href="https://stocksnap.io/" target="_blank">StockSnap.io</a> and its contributors for colourful imagery
						</li>
						<li>
							<a href="mailto:vern@newtypography.co.uk">Vernon Adams</a> for <a href="https://www.google.com/fonts/specimen/Candal" target="_blank">Candal</a>, a font that perfectly fitted our fun side
						</li>
						<li>
							The folks from <a href="http://www.behindthename.com/" target="_blank">Behind the Name.com</a> for their localized-name-generating API that makes our game characters believable
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>