<div class="container-fluid">
	<div class="panel panel-default v-offset-1">
		<div class="panel-body">
			<div class="row">
				<ul>
					<li>
						You lead a character through a series of questions
					</li>
					<li>
						Try to guess what your character would answer</span>
					</li>
					<li>
						Get as many <span class="glyphicon glyphicon-star"></span> as you can!
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-6 text-center">
					<a class="btn btn-block btn-primary" href="#game/play">Play <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>