<div class="container-fluid" ng-controller="GameController">
	<div class="screen-1">
		<div class="row text-center">
			<p>Your character is</p>
			<p class="lead character-name">{{ name }}</p>
			<p>{{ age.readable }} {{ gender.readable }} from {{ country.name }}</p>
		</div>
		<div class="row v-offset-1 v-offset-1-bottom">
			<div class="col-xs-6 text-center">
				<button type="button" class="btn btn-default btn-block">
					New Character
				</button>
			</div>
			<div class="col-xs-6 text-center">
				<button type="button" class="btn btn-primary btn-block">
					Continue
				</button>
			</div>
		</div>
	</div>
</div>