<div class="container-fluid">
	<div class="panel panel-default v-offset-1">
		<div class="panel-heading">
			<h3 class="panel-title">Character</h3>
		</div>
		<div class="panel-body">
			<div class="row text-center">
				<p>Your character is</p>
				<p class="lead">John</p>
				<p>a 20-something yr old man</p>
				<p>from Sweden</p>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-6 text-center">
					<a class="btn btn-block btn-primary">Continue <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>