<div class="container-fluid" ng-controller="GameController">
	<div class="row text-center" ng-show="isLoading">
		<div class="timer-loader v-offset-1"></div>
	</div>
	<div class="row v-offset-1 h-spacing-5" ng-show="!isLoading">
		<ul class="list-group">
			<li class="list-group-item">
				You lead a <strong>character</strong> through a series of questions
			</li>
			<li class="list-group-item">
				Try to guess what your character would answer</span>
			</li>
			<li class="list-group-item">
				Get as many <span class="glyphicon glyphicon-star"></span> as you can!
			</li>
		</ul>
	</div>
</div>