<div class="container-fluid">
	<div class="panel panel-default v-offset-1">
		<div class="panel-heading">
			<h3 class="panel-title">Character</h3>
		</div>
		<div class="panel-body text-center">
			<p>Your character is</p>
			<h2>John</h2>
			<p>a 20-something yr old man</p>
			<p>from Sweden</p>
		</div>
	</div>
	<div class="row v-offset-1-bottom">
		<div class="col-xs-6 col-xs-offset-6 text-center">
			<a class="btn btn-block btn-primary">Continue <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
		</div>
	</div>
</div>