<div class="container-fluid" ng-controller="GamePlayController">
	<div class="scene" ng-show="isLoading">
		<div class="panel panel-default v-offset-1">
			<div class="panel-heading">
				<h3 class="panel-title">Loading&hellip;</h3>
			</div>
			<div class="row text-center">
				<div class="timer-loader v-offset-1 v-offset-1-bottom"></div>
			</div>
		</div>
	</div>

	<div class="scene" ng-show="scene == 'character' && !isLoading">
		<div class="panel panel-default v-offset-1">
			<div class="panel-heading">
				<h3 class="panel-title">Character</h3>
			</div>
			<div class="panel-body text-center">
				<p>Your character is&hellip;</p>
				<h2>
					<img class="avatar-lg" ng-src="../img/avatars/{{ character.avatar }}.svg"/>{{ character.name }}
				</h2>
				<p>{{ character.age.readable }} yrs</p>
				<p>from <img class="flag" ng-src="../img/flags/{{ character.country.code }}.png"/> {{ character.country.name }}</p>
			</div>
		</div>
		<div class="row v-offset-1-bottom">
			<div class="col-xs-6 col-xs-offset-6 text-center">
				<a class="btn btn-block btn-primary" ng-click="showQuestion();">Continue <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>

	<div class="scene" ng-show="scene == 'question' && !isLoading">
		<div class="panel panel-default v-offset-1">
			<div class="panel-heading">
				<h3 class="panel-title avatar-title">
					<img class="avatar-xs" ng-src="../img/avatars/{{ character.avatar }}.svg"/>
					{{ character.name }}
					<img class="flag" ng-src="../img/flags/{{ character.country.code }}.png"/>
					<span class="score-block pull-right">
						<span class="score">{{ score }}</span>
						<span class="glyphicon glyphicon-star"></span>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<p class="lead text-center h-spacing-5">
					{{ question.question }}
				</p>
				<div class="radio h-spacing-5" ng-repeat="answer in question.answers" ng-hide="answerSubmitted">
					<label>
						<input type="radio" name="optionsRadios" id="optionsRadios" value="{{ answer.value }}" ng-click="setSelected(answer.value);">
						{{ answer.text }}
					</label>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-class="{ 'list-group-item-success': answer.value == question.correctAnswer, 'list-group-item-danger': answer.value == selectedAnswer && answer.value != question.correctAnswer }" ng-repeat="answer in question.answers" ng-show="answerSubmitted">
						{{ answer.text }}
					</li>
				</ul>
			</div>
		</div>
		<div class="row v-offset-1-bottom">
			<div class="col-xs-6 col-xs-offset-6 text-center">
				<a ng-hide="answerSubmitted" class="btn btn-block btn-primary" ng-disabled="!selectedAnswer" ng-click="selectedAnswer && submitAnswer();">Answer <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
				<a ng-show="answerSubmitted" class="btn btn-block btn-primary" ng-click="showQuestion();">Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>

</div>