<div class="container-fluid text-center" ng-controller="HomeController">
	<div class="row">
		<h3>Welcome</h3>
		<p></p>
	</div>
	<div class="row">
		<div class="col-md-4">
			Survey page... is a place where you can find out how many people had same answers as you
		</div>
		<div class="col-md-4">
			Challenge a friend page... is a place where you can invite your friend to a challenge to see who is better in giving right answes
		</div>
		<div class="col-md-4">Did you know page... is a place where you can find out many interesing facts about life in EU</div>
	</div>	
	<div class="row"></div>

	<div class="row" style="margin-top:50px;">
		Disclaimer: All data is collected from	<a href="http://eulife.appchallenge.net/" target="_blank">EU life public API</a>
	</div>
</div>	