<div class="container-fluid text-center" ng-controller="HomeController">
	<div class="row">
		<h3>Welcome</h3>
		<p></p>
	</div>
	<div class="row">		
		<p class="lead">
		Here you can find some interesting and fun facts about life in EU.
		</p>	
		<p>
			For instance you can take a <a href="#survey">survey</a> and see how much more people are having the same answer as yours.
		</p>	
		<p>
			You can also see really interesting facts on <a href="#trivia">Trivia</a> page, and compare to lot of other countries.	
		</p>	
		<p>
			You can even <a href="#challenge">challenge</a> your friend to quiz about life in EU. (The winner takes it all)
		</p>	
	</div>	
	<div class="row"></div>

	<div class="row" style="margin-top:50px;">
		Disclaimer: All data is collected from	<a href="http://eulife.appchallenge.net/" target="_blank">EU life public API</a>
	</div>
</div>	