<div class="container-fluid" ng-controller="SurveyController">
	<div class="row text-center" ng-show="isLoading">
		<div class="timer-loader"></div>
	</div>

	<div class="row" ng-hide="isLoading || percentage || noQuestions">
		<h1 class="text-center">
			<span class="glyphicon {{icon}}"></span>
		</h1>
		<p class="lead text-center h-spacing-5">
			{{question}}
		</p>
		<form>
			<div class="radio h-spacing-5" ng-repeat="answer in answers">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="{{answer.value}}" ng-click="setSelected(answer.value);">
					{{answer.text}}
				</label>
			</div>
		</form>
	</div>
	<div class="row v-offset-1-bottom v-offset-1" ng-hide="isLoading || percentage || noQuestions">
		<div class="col-xs-6 text-center">
			<button type="button" class="btn btn-default btn-block" ng-click="nextQuestion();">Skip</button>
		</div>
		<div class="col-xs-6 text-center">
			<button type="button" class="btn btn-primary btn-block" ng-disabled="!selected" ng-click="submit();">Submit <span class="glyphicon glyphicon-triangle-right eu-yellow" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row text-center v-offset-1 v-offset-1-bottom h-spacing-5" ng-show="percentage[0]">
		<h4>You and</h4>
		<h2>{{ percentage[0] }}%</h2> 
		<h5>of people in EU answered &quot;{{ similarAnswer }}&quot; <span ng-show="percentage[1]">in 2011</span></h5>
	</div>
	<div class="row text-center h-spacing-5" ng-show="percentage[1]">
		<h4>Compared to</h4>
		<h2>{{ percentage[1] }}%</h2> 
		<h5>in 2007</h5>
	</div>
	<div ng-show="showChart" class="v-offset-1 v-offset-1-bottom">
		<div google-chart chart="{{ chartObject }}" ng-show="true"></div>
	</div>
	<div class="row text-center v-offset-1-bottom" ng-show="percentage">
		<div class="col-xs-6 text-center v-offset-1" ng-show="percentage" ng-click="showCharts();">
			<button type="button" class="btn btn-default btn-block" ng-show="!showChart">Charts <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
		</div>
		<div class="col-xs-6 text-center v-offset-1">
			<button type="button" class="btn btn-primary btn-block" ng-click="nextQuestion();">Next <span class="glyphicon glyphicon-triangle-right eu-yellow" aria-hidden="true"></span></button>
		</div>
	</div>

	<div ng-show="noQuestions" class="row text-center">
		<p class="lead">
			Thank you for participating..
		</p>
		<p>in our comparison survey, that will be all the questions for now.</p>
		<p>Why don't you check out our <a href="#/trivia">Did You Know?</a> section in the meantime?</p>
	</div>
</div>