<div class="container-fluid" ng-controller="SurveyController">
	<div class="row text-center" ng-show="isLoading">
		<div class="timer-loader v-offset-1"></div>
	</div>
	<div class="row" ng-hide="isLoading || percentage">
		<h1 class="text-center">
			<span class="glyphicon {{icon}}"></span>
		</h1>
		<p class="lead text-center">
			{{question}}
		</p>
		<form>
			<div class="radio" ng-repeat="answer in answers">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="{{answer.value}}" ng-click="setSelected(answer.value);">
					{{answer.text}}
				</label>
			</div>
		</form>
	</div>
	<div class="row v-offset-1-bottom v-offset-1" ng-hide="isLoading || percentage">
		<div class="col-xs-6 text-center">
			<button type="button" class="btn btn-default btn-block" ng-click="nextQuestion();">Skip</button>
		</div>
		<div class="col-xs-6 text-center">
			<button type="button" class="btn btn-primary btn-block" ng-disabled="!selected" ng-click="submit();">Submit</button>
		</div>
	</div>
	<div class="row text-center v-offset-1 v-offset-1-bottom" ng-show="percentage[0]">
		<h4>You are in</h4>
		<h2>{{ percentage[0] }}%</h2> 
		<h5> of people in EU that answered &quot;{{ similarAnswer }}&quot; <span ng-show="percentage[1]">in 2011</span></h5>
	</div>
	<div class="row text-center" ng-show="percentage[1]">
		<h4>Compared to</h4>
		<h2>{{ percentage[1] }}%</h2> 
		<h5>in 2007</h5>
	</div>	
	<div class="row text-center v-offset-1-bottom" ng-show="percentage">
		<div class="col-xs-6 col-xs-offset-6 text-center v-offset-1">
			<button type="button" class="btn btn-primary btn-block" ng-click="nextQuestion();">Next question</button>
		</div>
	</div>
</div>