<div class="container-fluid" ng-controller="TriviaController">
	<div class="row">
		<div class="col-sm-6 center-block">
			<img class="img-responsive" ng-src="./img/trivia/{{type}}.jpg" />
		</div>
		<div class="col-sm-6 text-center ver">
			<h2>{{percent}}%</h2>
			<p class="lead">{{text}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-6 text-center">
			<button type="button" class="btn btn-primary btn-block">
				Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>