<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 center-block">
			<img class="img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/SS4TB1O5NQ.jpg" />
		</div>
		<div class="col-sm-6 text-center ver">
			<h2>23%</h2>
			<p class="lead">of women in Serbia are single</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-6 text-center">
			<button type="button" class="btn btn-primary btn-block">
				Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>